RewriteEngine On

# Rediriger le répertoire /TPGIT-TP vers le nouveau domaine

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 /404/
