@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #42210b;
    --green: #42210b;
    --yellow: #42210b;
    --blue: #42210b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, #754c24 0%,#42210b 100%);
    height: 100vh;
}


/* Sidebar */
#sidebar {
    background-color: #2c3e50;
    color: #fff;
    width: 20%; /* Adjust width to 25% of the container */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center /* Align content to the top */
}

#sidebarHeader h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    width: 100%;
}


/* Navbar */
#navbar {
    width: 100%;
    background-color: #34495e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.hamburger {
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}




.navbar-right {
    display: flex;
    align-items: center;
    justify-items: flex-end
}

/* Ludo board container */
.ludoContainer {
    width: 80%; /* Adjust width to 75% of the container */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center ;
    gap: 30px;
    perspective: 800px;
}


#ludoBoard {
    transform: rotateX(45deg) rotateY(0deg);
    transform-style: preserve-3d;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border: 5px solid #754c24;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-areas:
        'red-Board red-Board green-Path green-Board green-Board'
        'red-Board red-Board green-Path green-Board green-Board'
        'red-Path red-Path win-Zone yellow-Path yellow-Path'
        'blue-Board blue-Board blue-Path yellow-Board yellow-Board'
        'blue-Board blue-Board blue-Path yellow-Board yellow-Board';
}

/* Board */
#red-Board {
    grid-area: red-Board;
    background-color: var(--red);
}

#yellow-Board {
    grid-area: yellow-Board;
    background-color: var(--yellow);
}

#blue-Board {
    grid-area: blue-Board;
    background-color: var(--blue);
}

#green-Board {
    grid-area: green-Board;
    background-color: var(--green);
}

/* Path */
#green-Path {
    grid-area: green-Path;
}

#blue-Path {
    grid-area: blue-Path;
}

#yellow-Path {
    grid-area: yellow-Path;
}

#red-Path {
    grid-area: red-Path;
}

#win-Zone {
    grid-area: win-Zone;
}


.verticalPath {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.horizontalPath {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.board {
    padding: 12px;
    background: #1212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board div {
    width: 80%;
    height: 80%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.board div span {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}


#yellow-Board div span {
    background: var(--yellow);
}

#blue-Board div span {
    background: var(--blue);
}

#red-Board div span {
    background: var(--red);
}

#green-Board div span {
    background: var(--green);
}

.ludoBox {
    border: 1px solid #11111142;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateZ(5px);
}

.ludoBox .fa-location-pin{
    position: absolute;
    margin: 2px;
    font-size: 2rem;
    transform: translate(0, -40%);
    -webkit-text-stroke-width: 2px;
    z-index: 100;
    animation: animateMyI .08s linear;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.ludoBox .fa-star{
    position: absolute;
    color: #222;
    opacity: .6;
}

@keyframes animateMyI {
    0%{
        transform: scale(1.1) translate(0, -40%);
    }
    100%{
        transform: scale(1) translate(0, -40%);
    }
}

.ludoBox .fa-location-pin:nth-child(2){
    transform: translate(10px, -40%);
}

.ludoBox .fa-location-pin:nth-child(3){
    transform: translate(-10px, -40%);
}

.ludoBox .fa-location-pin:nth-child(4){
    transform: translate(0px, -40%) scale(0.8);
}

.redLudoBox {
    background: var(--red);
}

.greenLudoBox {
    background: var(--green);
}

.yellowLudoBox {
    background: var(--yellow);
}

.blueLudoBox {
    background: var(--blue);
}


.board .piece {
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 2.3rem;
    z-index: 100;
}

.board.active{
    animation: animateBoard .8s linear infinite;
}

.pion {
    width: 40px;
    height: auto;
}

@keyframes animateBoard {
    0% {
        filter:brightness(1.4);
    }

    50% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1.4);
    }
}


.red-piece {
    color: var(--red);
}

.yellow-piece {
    color: var(--yellow);
}

.green-piece {
    color: var(--green);
}

.blue-piece {
    color: var(--blue);
    z-index: 100;
}


.blue-piece::after{
    content: attr(myPieceNum);
    font-weight: 600;
    font-size: 9px;
    color: white;
    border-radius: 50%;
    padding: 3px;
    -webkit-text-stroke-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2px);
}


.rollingDice{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.rollingDice button{
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    background: white;
    color: #111;
    border: none;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 1rem;
}

.rollingDice img{
    max-width: 120px;
    border-radius: 14px;
    margin-top: 12px;
    background: #111;
}


#rollDice {
    transition: transform 2s ease-out; /* Animation de transformation */
}

@keyframes rollDiceAnimation {
    0% {
        transform: rotate(0deg); /* Départ sans rotation */
    }
    50% {
        transform: rotate(720deg); /* Demi-tour pour simuler l'animation */
    }
    100% {
        transform: rotate(1440deg); /* Deux tours complets */
    }
}


#declaredWinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9999;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    z-index: 99999 !important;
}

#declaredWinner div{
    width: 550px;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
    justify-content: center;
    border-radius: 6px;
    padding: 20px 10px;
}

#declaredWinner div button{
    padding: 8px 8px;
    font-family: 'Poppins';
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #2b2b2b;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
}


#homePage{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background: radial-gradient(circle, #754c24 0%,#42210b 100%);
    color: white;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homePage h1{
    text-transform: uppercase;
    margin: 20px;
    font-size: 3rem;
}

#homePage button{
    border: 1px solid white;
    border-radius: 6px;
    padding: 6px 12px;
    background: transparent;
    color: white;
    margin: 0 12px;
    font-size: 22px;
    cursor: pointer;
}

#homePage button:hover{
    background: white;
    border-color: white;
    color: #42210b;
}

#cp{
    position: absolute;
    bottom: 8px;
    left: 50%;
    z-index: 1000;
    color: white;
    font-family: 'Poppins';
    transform: translateX(-50%);
}

.card {
    background: white;
    color:#42210b;
    text-align: center;
    max-width: 300px;
    border-width: 20px;
    border-style: solid;
    border-image: url('Assets/image2.png') 30 stretch; /* Bordure avec l'image */
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
     /* Fond chocolat */
    padding: 10px;
}

.options button {
    padding: 10px;
    cursor: pointer;
    background-color: #3E2723;
    color: white;

    &:hover {
      background-color: #633f38;  
    }
}

/* Style de base pour la notification */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: none; /* Pour que la notification soit cachée au début */
    font-size: 16px;
    z-index: 100;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Icône de notification */
.notification-icon {
    margin-right: 10px;
}

/* Icone de fermeture */
.close-btn {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles pour chaque type de notification */
.success {
    background-color: green;
}

.error {
    background-color: red;
}

.info {
    background-color: #00acff;
}

.warning {
    background-color: yellow;
    color: black;
}

/* Animation pour faire apparaître la notification */
.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Styles supplémentaires pour les petites notifications */
#dangerNumberDisplay {
    color: white;
    font-size: 30px;
}

/* Ajout d'un effet de survol pour le bouton de fermeture */
.close-btn:hover {
    color: #ddd;
}

.logo {
    width: 300px;
    height: auto
}

.symbolCard {
    width: 120px;
    height: 180px;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Arial", sans-serif;
    position: relative;
}

.corner {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.top-left {
    top: 5px;
    left: 5px;
    text-align: left;
}

.bottom-right {
    bottom: 5px;
    right: 5px;
    text-align: right;
    transform: rotate(180deg);
}

.center {
    font-size: 50px;
}



