@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #754c24;
    --green: #442503;
    --yellow: #6e2f04;
    --blue: #42210b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('Assets/dameOpacité.png'),radial-gradient(circle, #754c24 0%, #42210b 100%);
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}




.ludoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: auto;
    perspective: 2000px;
}


#ludoBoard {
    width: 500px;
    height: 500px;
    background: #fff;
    display: grid;
    transform: rotateX(30deg) rotateY(0deg);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    grid-template-areas:
        'red-Board red-Board green-Path green-Board green-Board'
        'red-Board red-Board green-Path green-Board green-Board'
        'red-Path red-Path win-Zone yellow-Path yellow-Path'
        'blue-Board blue-Board blue-Path yellow-Board yellow-Board'
        'blue-Board blue-Board blue-Path yellow-Board yellow-Board';
}

#ludoBoard div {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}



/* Board */
#red-Board {
    grid-area: red-Board;
    background-color: var(--red);
}

#yellow-Board {
    grid-area: yellow-Board;
    background-color: var(--yellow);
}

#blue-Board {
    grid-area: blue-Board;
    background-color: var(--blue);
}

#green-Board {
    grid-area: green-Board;
    background-color: var(--green);
}

/* Path */
#green-Path {
    grid-area: green-Path;
}

#blue-Path {
    grid-area: blue-Path;
}

#yellow-Path {
    grid-area: yellow-Path;
}

#red-Path {
    grid-area: red-Path;
}

#win-Zone {
    grid-area: win-Zone;
}


.verticalPath {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.horizontalPath {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.board {
    padding: 12px;
    background: #1212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board div {
    width: 80%;
    height: 80%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.board div span {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}


#yellow-Board div span {
    background: var(--yellow);
}

#blue-Board div span {
    background: var(--blue);
}

#red-Board div span {
    background: var(--red);
}

#green-Board div span {
    background: var(--green);
}

.ludoBox {
    border: 1px solid #11111142;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ludoBox .fa-location-pin, .fa-chess-rook, .fa-chess-pawn, .fa-chess-knight, .fa-chess-king{
    position: absolute;
    margin: 2px;
    font-size: 2rem;
    transform: translate(0, -40%);
    -webkit-text-stroke-width: 2px;
    z-index: 100;
    animation: animateMyI .08s linear;
    -webkit-text-stroke-color: rgb(255, 255, 255);
} */


.ludoBox .fa-location-pin, 
.ludoBox .fa-chess-rook, 
.ludoBox .fa-chess-pawn, 
.ludoBox .fa-chess-knight, 
.ludoBox .fa-chess-king {
    position: absolute;
    margin: 2px;
    font-size: 2rem;
    transform: translate(0, -40%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    z-index: 100;
    animation: animateMyI .08s linear;
    
    /* Ombre pour effet 3D */
    text-shadow: 2px 2px 0px #ccc, 
                 4px 4px 0px #aaa, 
                 6px 6px 5px rgba(0, 0, 0, 0.4);
}



.ludoBox .fa-star, .fa-square-full, .fa-canadian-maple-leaf, .fa-heart, .fa-skull-crossbones{
    position: absolute;
    color: #222;
    opacity: .6;
}

@keyframes animateMyI {
    0%{
        transform: scale(1.1) translate(0, -40%);
    }
    100%{
        transform: scale(1) translate(0, -40%);
    }
}

.ludoBox .fa-location-pin:nth-child(2){
    transform: translate(10px, -40%);
}

.ludoBox .fa-location-pin:nth-child(3){
    transform: translate(-10px, -40%);
}

.ludoBox .fa-location-pin:nth-child(4){
    transform: translate(0px, -40%) scale(0.8);
}

.redLudoBox {
    background: var(--red);
}

.greenLudoBox {
    background: var(--green);
}

.yellowLudoBox {
    background: var(--yellow);
}

.blueLudoBox {
    background: var(--blue);
}


.board .piece {
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 2.3rem;
    z-index: 100;
}

.board.active{
    animation: animateBoard .8s linear infinite;
}

@keyframes animateBoard {
    0% {
        filter:brightness(1.8);
    }

    50% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1.8);
    }
}


.red-piece {
    color: var(--red);
}

.yellow-piece {
    color: var(--yellow);
}

.green-piece {
    color: var(--green);
}

.blue-piece {
    color: var(--blue);
    z-index: 100;
}


.blue-piece::after{
    content: attr(myPieceNum);
    font-weight: 600;
    font-size: 9px;
    color: white;
    background: var(--blue);
    border-radius: 50%;
    padding: 3px;
    -webkit-text-stroke-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2px);
}


.rollingDice{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.rollingDice button {
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    background: white;
    color: #111;
    border: none;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 1rem;
}

.option-jeu {
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid white;
    color: white;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 1rem;
    background:none; 
    padding: 2px 5px;
}

.option-jeu.selected {
    border: 1px solid #f9bc74; 
    color: #f9bc74; 
}

.rollingDice img{
    max-width: 80px;
    border-radius: 14px;
    margin-top: 12px;
    background: #f9bc74;
}


#declaredWinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9999;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    z-index: 99999 !important;
}

#declaredWinner div{
    width: 550px;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
    justify-content: center;
    border-radius: 6px;
    padding: 20px 10px;
}

#declaredWinner div button{
    padding: 8px 8px;
    font-family: 'Poppins';
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #2b2b2b;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
}


#homePage {
    width: 100%;
    height: 100vh;
    background-image: url('Assets/dameOpacité.png');
    background-color: radial-gradient(circle, #754c24 0%, #42210b 100%);
    background-repeat: repeat;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}






#homePage h1, .introductionPage button{
    margin: 10px;
    font-size: 60px
}

.introductionPage button, .configuration-button{
    border-radius: 20px;
    padding: 10px 18px;
    background: linear-gradient(to right, #f9bc74 20%, #42210b 100%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.introductionPage button:hover, .configuration-button{
    background: linear-gradient(to right, #f9bc74 2%, #42210b 100%);
}



.card {
    background: white;
    color:#42210b;
    text-align: center;
    border-width: 20px;
    border-style: solid;
    border-image: url('Assets/image2.png') 30 stretch; /* Bordure avec l'image */
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.options button {
    padding: 10px;
    cursor: pointer;
    background-color: #3E2723;
    color: white;

    &:hover {
      background-color: #633f38;  
    }
}


.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: none;
    font-size: 16px;
    z-index: 100;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.notification-icon {
    margin-right: 10px;
}

.close-btn {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles pour chaque type de notification */
.success {
    background-color: rgb(7, 168, 7);
}

.error {
    background-color: rgb(177, 5, 5);
}

.info {
    background-color: #078bd3;
}

.warning {
    background-color: rgb(114, 114, 3);
    color: black;
}

/* Animation pour faire apparaître la notification */
.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.symbolCard {
    width: 300px;
    height: 450px;
    background: white;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.corner {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.top-left {
    top: 5px;
    left: 5px;
    text-align: left;
}

.bottom-right {
    bottom: 5px;
    right: 5px;
    text-align: right;
    transform: rotate(180deg);
}

.center {
    font-size: 100px;
}


@keyframes rotateAnimation {
    0%, 85% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blinkAnimation {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.7;
    }
}

/* Appliquer l'animation */
.logo {
    width: 300px;
    height: auto;
    display: block;
    animation: rotateAnimation 2s ease-in-out , 
               blinkAnimation 1s step-start infinite
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

#typingText {
    padding-bottom: 30px;
    font-family: 'Poppins';
}


.animated-text {
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #f9bc74;
    display: flex;
    align-items: center;
    gap: 15px;
    text-shadow: 2px 2px 8px #f9bc74;
}





/* ✨ Effet de brillance dorée */
@keyframes gold-glow {
    0% { text-shadow: 2px 2px 8px rgba(255, 215, 0, 0.4); }
    50% { text-shadow: 4px 4px 15px rgba(255, 215, 0, 0.9); }
    100% { text-shadow: 2px 2px 8px rgba(255, 215, 0, 0.4); }
}

.animated-text {
    animation: gold-glow 2s infinite alternate;
}



/* Loading */

#loadingPage{
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introductionPage {
    width: 100%;
    height: 100vh;
    background-image: url('Assets/dameOpacité.png');
    background-color: radial-gradient(circle, #754c24 0%, #42210b 100%);
    background-repeat: repeat;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Conteneur de la barre de progression */
.progress-container {
    width: 80%;
    max-width: 250px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

/* Barre de progression */
.progress-bar {
    width: 0;
    height: 100%;
    background-color: #f9bc74;
    transition: width 0.05s linear;
    animation: gold-glow 2s infinite alternate;
    box-shadow: 10px 2px 8px #f9bc74;
}

.box  {
    background-color: rgb(5, 21, 65);
    width: 800px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #f9bc74;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fade 5s forwards; 
    display: 1;
}


.box2 {
    background-color: rgb(5, 21, 65);
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #f9bc74;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: none;
    animation: fade 5s forwards;
    padding-bottom: 20px
}

.box3 {
    background-color: rgb(5, 21, 65);
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #f9bc74;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    animation: fade 5s forwards;
    padding-bottom: 20px
}

.box2.active {
    display: block;
    transform: scale(1);
    opacity: 1;
}



@keyframes fade {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.box img.top-left, 
.box img.bottom-right, .box2 img.top-left, 
.box2 img.bottom-right {
    position: absolute;
    width: 200px; 
    height: auto; 
    object-fit: cover;
    animation: moveUpDown 3s ease-in-out infinite; /* Animation infinie */
}

/* Animation des images de haut en bas */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Animation de mouvement vers le haut */
    }
    100% {
        transform: translateY(0); /* Retour à la position initiale */
    }
}

.box img.top-left, .box img.top-left
 {
    top: -50px;
    left: -100px;
    animation-delay: 0s; 
}

.box img.bottom-right,
.box img.bottom-right{
    bottom: -50px;
    right: -100px;
    animation-delay: 1.5s; 
}




.slideshow-container {
    position: absolute;
    top: 10px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cube {
    position: absolute;
    top: 80px;
    width: 160px;
    height: auto;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.introduction-image.active {
    opacity: 1;
}

.carte { 
    position: absolute;
    top: 100px;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    transform: rotate(-20deg);
}

.game-rules {
    background-color: rgb(5, 21, 65);
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.box2 ul {
    text-align: left;
    padding-left: 20px;
    list-style-type:circle
}

button {
    background-color: #f9bc74;
    color: black;
    border: none;
    padding: 2px;
    cursor: pointer;
    margin-top: 10px;
}



.hidden {
    display: none;
}
.levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.levels img {
    width: 150px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid transparent;
}

.levels img.selected {
    border: 2px solid #f9bc74;
}

.configuration-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input {
    width: 320px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 10px;
    background: transparent;
    font-size: 1rem;
    color: white;
    &:focus {
        border: none;
    }
}

#playerConfig, #playerFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.game {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: rgb(5, 21, 65);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 8px #f9bc74;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .logo-bord{
    width: 60px;
    height: auto
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    width: auto;
    height: auto;
}

.container {
    display: flex;
    height: auto;
    flex: 1;
}

#sidebar {
    width: 400px;
    height: auto;
    background-color: rgb(5, 21, 65, 0.5);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 2px 2px 8px #f9bc74;
}

#sidebarHeader h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 10px #f9bc74;;
    }
    50% {
      box-shadow: 0 0 30px #f9bc74;;
    }
    100% {
      box-shadow: 0 0 10px #f9bc74;;
    }
  }
  
.navbar-center {
    background-color: #f9bc74;
    animation: pulse 2s infinite;
    padding: 5px 12px;
    border-radius: 20px;
  }


.right-zone {
    width: 100px;
    height: 300px;
    position: relative;
    transform: rotate(-10deg);
}

.left-zone {
    width: auto;
    height: auto;
    position: relative;
    display: none;
}


.belotte-card {
    width: 100px;
    height: 150px;
    background-color: white;
    border: 0.2px solid black;
    border-radius: 10px;
    position: absolute;
    right: 0;
    transition: transform 1s ease-in-out, left 1s ease-in-out, right 1s ease-in-out;
    box-shadow: 1px 1px 1px #4b4a4a;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.sidebar-hamburger {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color:#6e2e04ce;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    flex-direction: column;
}

.sidebar-hamburger.open {
    right: 0; 
    display: flex;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    color: white;
    font-size: 18px;
}

.close-icon {
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

#settingsContent {
    max-height: 80%;
    overflow-y: auto;
}

.setting-item {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    &:hover {
        background-color: #f9bc74;
        animation: pulse 2s infinite;
        color: white;
    }
}

.setting-key {
    font-weight: bold;
}

.suspend-btn {
    border-radius: 20px;
    padding: 10px 18px;
    background: linear-gradient(to right, #f9bc74 20%, #42210b 100%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}

.suspend-btn:hover {
    background: linear-gradient(to right, #f9bc74 2%, #42210b 100%);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    display: none;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

/* Actions boutons */
.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.confirm-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.confirm-btn:hover {
    background: darkred;
}

.cancel-btn {
    background: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cancel-btn:hover {
    background: darkgray;
}


/* .sidebar-hamburger {
    display: none;
    position: fixed;
    top: 0;
    right: 0; 
    width: 300px;
    height: 100%;
    background: #f9bc74;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

#settingsContent {
    max-height: 80%;
    overflow-y: auto;
}

#closeSidebar {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    justify-self:end
} */


@keyframes bonusAppear {
    0% {
        transform: scale(3); 
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(0); 
        opacity: 0;
    }
}

.bonus {
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #f9bc74;
    text-shadow: 2px 2px 8px #f9bc74;
    animation: bonusAppear 2s ease-out forwards;
    z-index: 1;
}

.belotte-card:nth-child(1) { top: 10px; transform: rotate(5deg);}
.belotte-card:nth-child(2) { top: 20px; transform: rotate(10deg); }
.belotte-card:nth-child(3) { top: 25px; transform: rotate(15deg); }
.belotte-card:nth-child(4) { top: 30px; transform: rotate(17deg); }
.belotte-card:nth-child(5) { top: 35px; transform: rotate(21deg); }
.belotte-card:nth-child(6) { top: 40px; transform: rotate(25deg); }
.belotte-card:nth-child(7) { top: 45px; transform: rotate(27deg); }
.belotte-card:nth-child(8) { top: 50px; transform: rotate(30deg); }
.belotte-card:nth-child(9) { top: 55px; transform: rotate(35deg); }
.belotte-card:nth-child(10) { top: 60px; transform: rotate(40deg); }
.belotte-card:nth-child(11) { top: 65px; transform: rotate(45deg); }
.belotte-card:nth-child(12) { top: 65px; transform: rotate(45deg); }
.belotte-card:nth-child(13) { top: 65px; transform: rotate(45deg); }
.belotte-card:nth-child(14) { top: 65px; transform: rotate(45deg); }
.belotte-card:nth-child(15) { top: 65px; transform: rotate(45deg);  }

@keyframes moveLeftToRight {
    0% {
        transform: translate(0,0) rotateY(0deg); 
        opacity: 1;
    }
    50% {
        transform: translate(30vw,20vh) rotateY(90deg); 
        opacity: 1;
    }
    50% {
        transform: translate(-50vw,30vh) rotateY(180deg); 
        opacity: 1;
    }
    100% {
        transform: translate(-80vw,40vh) rotateY(360deg); 
        opacity: 0;
    }
}

.moving{
    background-image: url('Assets/point-d-interrogation-or.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveLeftToRight 1.5s ease-out forwards;
    z-index: 1;
}


.shuffle {
    animation: shuffle 0.5s ease-in-out;
}

@keyframes shuffle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}


/* For mobile devices (up to 480px) */
@media (min-width: 480px) and (max-width: 700px) {

    .box img.top-left, 
    .box img.bottom-right, .box2 img.top-left, 
    .box2 img.bottom-right {
        display: none;
    }

    .progress-container {
        width: 80%;
        max-width: 150px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        overflow: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .options {
        display: flex;
        flex-direction: row;
    }

    .options button {
        width: auto;
        flex-wrap: nowrap;
    }

    .card, .symbolCard {
        width: 100%;
        height: auto;
        gap: 0;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    #sidebar {
        width: 100%;

    }

    .navbar-left p {
        display: none;
    }

    .ludoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px;
    }
    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: auto;
        height: auto;
    }

    #ludoBoard {
        height: 300px;
        width: 300px;
    }

    .notification {
        font-size: 12px;
    }

    .box, .box2, .box3{
        width: 400px;
    }

    .animated-text {
        text-align: center;
        font-size: 50px;
    }

    #homePage h1 {
        font-size: 50px;
    }

    .cube {
        width: 80px;
        top: 120px
    }

    #typingText {
        font-size: 15px;
    }

    .akg {
        width: 400px;
        height: 150px;
    }


}

/* For larger tablets (up to 1024px) */
@media (min-width: 700px) and (max-width: 1120px) {

    .box, .box2, .box3{
        width: 500px;
        margin: 10px;
    }

    .akg {
        width: 400px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .options {
        display: flex;
        flex-direction: row;
    }

    .options button {
        width: auto;
        flex-wrap: nowrap;
    }

    .card, .symbolCard {
        width: 100%;
        height: auto;
        gap: 0;
    }

    #sidebar {
        width: 100%;

    }

    .navbar-left p {
        display: none;
    }

    .ludoContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #ludoBoard {
        height: 400px;
        width: 400px;
    }

    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: auto;
        height: auto;
    }

    .belotte-card {
        width: 80px;
        height: 120px;
    }

    .right-zone {
        width: 100px;
        height: 120px;
        position: relative;
        transform: rotate(-10deg);
    }

    .notification {
        font-size: 12px;
    }

}


@media only screen and (max-width: 480px) {

    .box img.top-left, 
    .box img.bottom-right, .box2 img.top-left, 
    .box2 img.bottom-right {
        display: none;
    }

    .progress-container {
        width: 80%;
        max-width: 150px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        overflow: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .options {
        display: flex;
        flex-direction: row;
    }

    .options button {
        width: auto;
        flex-wrap: nowrap;
    }

    .card, .symbolCard {
        width: 100%;
        height: auto;
        gap: 0;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    #sidebar {
        width: 100%;

    }

    .navbar-left p {
        display: none;
    }

    .ludoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px;
    }
    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: auto;
        height: auto;
    }

    #ludoBoard {
        height: 300px;
        width: 300px;
    }

    .notification {
        font-size: 12px;
    }

    .box, .box2, .box3{
        width: 350px;
    }

    .animated-text {
        text-align: center;
        font-size: 50px;
    }

    #homePage h1 {
        font-size: 50px;
    }

    .cube {
        width: 80px;
        top: 120px
    }

    #typingText {
        font-size: 15px;
    }

    .akg {
        width: 400px;
        height: 150px;
    }

}

